<nav>
    <div class="nav-wrapper blue">
        <div class="container">
            <a href="/" class="brand-logo center">Tracalorie</a>
            <ul class="right">
                <li><button @onclick="ClearAll" class="clear-btn btn blue lighten-3">Clear All</button></li>
            </ul>
        </div>
    </div>
</nav>

@code {

    [Parameter]
    public EventCallback ClearAll { get; set; }
}
